@charset "utf-8";

html, body {
	font-family: "sans-serif", "verdana";
	font-size: 20px;
}
h1 {
	font-size: 1.5rem
}
h2 {
	font-size: 1.2rem;
}
li {
	list-style-type: square;
	margin-left: -20px;
}
#margin {
	width: 75vw;
	background: #e6c382;
	margin: 10px;
	border: 3px dashed grey;
	padding: 10px;
	}
#border {
	width: 75vw;
	background: #eded90;
	margin: 10px;
	border: 3px solid grey;
	padding: 10px;
}
#padding {
	width: 75vw;
	background: #a6d6a6;
	margin: 10px;
	border: 3px dashed grey;
	padding: 10px;
}n:</h2> 
			<ul>
				<li>specifies the position of the element relative to whatever is adjacent to it;</li>
				<li>is always transparent;</li>
				<li>the values for any of the sides can be negative;</li>
				<li>"margin: 0;" is the same as "margin: none;"</li>
			</ul>
		</div>
		<div id="border">
			<h2>border:</h2>
			<ul>
				<li>goes around the content and the padding;</li>
				<li>only accept numbers greater or equal to zero;</li>
				<li>most common border properties are <em>border-width</em> (width of the border), <em>border-style</em> (e.g. dashed, dotted, solid) and <em>border-color</em> (any color), others are <em>border-radius</em> or <em>border-gradient</em></li>
			</ul>
		</div>
		<div id="padding">
			<h2>padding:</h2>
			<ul>
				<li>controls the amount of space between the elements content and the border;</li>
				<li>only accept numbers greater or equal to zero;</li>
				<li>background of the padded area matches the background of the element</li>
			</ul>
		</div>
	</body>
</html>